.body {
  width: 80%;
  background-color: #faf6fd;
  padding: 2rem 4rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 25rem);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
}

.section {
  background-color: #fff;
  display: grid;
  grid-template-columns: 5rem 15rem;
  align-items: center;
  border-radius: 0.3rem;
  color: #08862d;
  padding: 2rem 1.5rem 2rem 3rem;
  text-align: left;
}

.section p{
  color: #868686;
  font-size: .7rem;
}

.icon{
  width: 2rem;
}

.icon img {
  width: 100%;
}