.body {
  background-color: #fff;
  /* width: 19%; */
  padding: 2rem 4rem;
  margin: 0;
  flex: 1;
  border-right: 2px solid rgba(116, 113, 113, 0.637);
}

.body .li {
  margin-bottom: 1.5rem;
  list-style: none;
  display: flex;
}

.body .li p {
  margin-left: 1.5rem;
  font-weight: 600;
}

.body .li img {
  width: 20px;
}

.body h3 {
  margin-top: 3rem;
  margin-left: 2.5rem;
}
