* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(rgba(77, 72, 72, 0.658), rgba(94, 92, 92, 0.541)),
    url("../../images/sign-in.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
}

.modal {
  background-color: #fff;
  width: 45rem;
  margin: 1rem auto 4rem auto;
  border-radius: 1rem;
}

.logo{
   margin: 3rem 43% 0rem 43%;
}

.modal_Section_1 {
  padding: 2rem 3rem;
}

.modal_Header {
  text-align: center;
  margin-bottom: 2rem;
}
.modal_Header h2 {
  color: #08862d;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.modal_Header p {
  color: #aeaeae;
  margin: 0 auto;
  font-size: 0.6rem;
  text-align: center;
  width: 46%;
}

.modal_Form {
  margin: 0 2rem;
  width: 35rem;
  margin-bottom: 1rem;
}

.modal_Form label,
.modal_Form input {
  display: block;
  margin-bottom: 0.5rem;
}

.modal_Form label {
  color: #bdb8b8;
  font-size: 0.7rem;
  font-weight: bold;
}

.modal_Form input {
  border: none;
  outline: none;
  background-color: #f8f8f8;
  width: 100%;
  padding: 0rem 2rem;
  border-radius: 0.4rem;
  margin-bottom: 3rem;
  color: #949191;
  font-size: 1.5rem;
}

.login_Btn {
  width: 100%;
  border: none;
  background-color: #08862d;
  box-shadow: 0px 4px 5px rgba(100, 100, 100, 0.498039);
  padding: 0.6rem 0rem;
  border-radius: 0.3rem;
  color: white;
}

.links {
  width: 100%;
}
.login_link {
  color: #08862d;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-weight: 600;
}

.signup_link {
  color: #08862d;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  margin-bottom: 1rem;
  font-weight: 600;
}


@media screen and (max-width: 1144px){
  .container{
    display: none;
  }

  .online__project{
    display: block;
  }
}